<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Погода - {{ info.get('weather', 'Не вдалося отримати дані') }}</p>
<p>Температура - {{ info.get('temp', 'Не вдалося отримати дані') }}</p>
<p>Як відчувається - {{ info.get('fells_like', 'Не вдалося отримати дані') }}</p>
<p>Назва міста - {{ info.get('city', 'Не вдалося отримати дані') }}</p>
<p>Як далеко видно - {{ info.get('visibility', 'Не вдалося отримати дані') }}</p>
<p>Швидкість вітру - {{ info.get('wind_speed', 'Не вдалося отримати дані') }}</p>
<p>Напрямок вітру - {{ info.get('wind_deg', 'Не вдалося отримати дані') }}</p>
<p>Хмарність - {{ info.get('clouds_all', 'Не вдалося отримати дані') }}</p>
</body>
</html>